<template>
  <div>
    <!-- <daykeep-calendar
    event-ref="MYCALENDAR"
    :event-array="allEvents" /> -->
    <daykeep-calendar
    :event-array="allEvents"
/>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { DaykeepCalendar } from '@daykeep/calendar-quasar'

export default {
  components: {
    DaykeepCalendar
  },

  mounted () {
    this.fetchEvents()
  },

  computed: {
    ...mapGetters({
      allEvents: 'events/allEvents'
    })
  },

  methods: {
    ...mapActions({
      fetchEvents: 'events/fetchEvents'
    })
  }
}
</script>
