<template>
  <q-page class="q-pa-md">
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="event.summary"
        label="Summary"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-input
        filled
        v-model="event.description"
        label="Description"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type something']"
      />

      <div class="row">
        <div class="q-pa-sm col-6">
          <q-input filled
          label="From"
          v-model="date.start">
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-date v-model="date.start" mask="YYYY-MM-DD HH:mm:ss" />
                </q-popup-proxy>
              </q-icon>
            </template>

            <template v-slot:append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-time v-model="date.start" mask="YYYY-MM-DD HH:mm:ss" format24h />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>

        <div class="q-pa-sm col-6">
          <q-input filled
          label="To"
          v-model="date.end">
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-date v-model="date.end" mask="YYYY-MM-DD HH:mm:ss" />
                </q-popup-proxy>
              </q-icon>
            </template>

            <template v-slot:append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-time v-model="date.end" mask="YYYY-MM-DD HH:mm:ss" format24h />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </div>
      <div>
        <q-btn label="Submit" type="submit" color="primary"/>
      </div>
    </q-form>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      event: {
        summary: '',
        description: '',
        color: 'blue'
      },
      date: {
        start: '',
        end: ''
      }
    }
  },
  methods: {
    ...mapActions({
      addEvent: 'events/addEvent'
    }),

    onSubmit () {
      var obj = this.event
      var addKeys = {
        start: {
          dateTime: this.date.start
        },
        end: {
          dateTime: this.date.end
        }
      }
      var merge = Object.assign({}, obj, addKeys)
      this.addEvent(merge)
      this.event = ''
      this.date = ''
    }
  }
}
</script>
