<template>
  <q-page padding>
    <div class="row">
      <div class="col-4">
        <Form />
      </div>
      <div class="col-8">
        <Calendar />
      </div>
    </div>
  </q-page>
</template>

<script>
import Calendar from '../components/Calendar'
import Form from '../components/Form'
export default {
  name: 'PageIndex',
  components: {
    Calendar,
    Form
  }
}
</script>
